<html>
    <body>
        <h1>FR first ML Application to Predict Credit Card Default</h1>
        <form action="http://127.0.0.1:5000/" method="post">
            <p>Please enter the annual income </p>
            <p><input type="number" name="income"></p>
            <p>Please enter the age </p>
            <p><input type="number" name="age"></p>
            <p>Please enter the loan amount </p>
            <p><input type="number" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>The predicted credit card default is {{results}}</p>
        <p>CART: {{result1}}</p>
        <p>Random Forest: {{result2}}</p>
        <p>XGBoost: {{result3}}</p>
    </body> 
</html>